@import "../../../styles/index";

.menu_box{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: px2rem(37);
  height: px2rem(28);
  &.over{
    .menu{
      background: #0A1633;
    }
  }
  .menu{
    width: px2rem(37);
    height: px2rem(4);
    background: #fff;
    transition: all 0.2s linear;
  }
}
