@import "../../styles/index";
.container{
  min-height: 100vh;
  .top_box{
    width: 10rem;
    height: px2rem(1200);
    background: url("https://cdn.jsdelivr.net/gh/netcloth/official-website@v0.3.0/src/assets/homepage_h5_bg.png") no-repeat top;
    background-size: cover;
    padding-top: px2rem(232);
    .icon{
      display: block;
      width: px2rem(134);
      height: px2rem(133);
      background: url("https://cdn.jsdelivr.net/gh/netcloth/official-website@v0.3.0/src/assets/logo.png") no-repeat center;
      background-size: contain;
      margin: auto;
    }
    .title{
      font-size: px2rem(56);
      font-weight: normal;
      color: rgba(255,255,255,1);
      text-align: center;
      margin-top: px2rem(42);
    }
    .tips{
      font-size: px2rem(30);
      font-weight:300;
      color:rgba(255,255,255,1);
      letter-spacing: px2rem(4);
      text-align: center;
      margin-top: px2rem(25);
    }
    .try_btn{
      width: px2rem(220);
      height: px2rem(80);
      background: rgba(56,96,244,1);
      border-radius: px2rem(40);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: px2rem(100) auto auto auto;
      font-size: px2rem(28);
      color: #fff;
      font-weight: 500;
    }
  }
  .content_box{
    width: px2rem(690);
    margin: px2rem(50) auto auto auto;
    .tips{
      p{
        font-weight: 400;
        &:first-child{
          font-size: px2rem(34);
          color: #0A1633;
        }
        &:last-child{
          font-size: px2rem(30);
          color: #6B798E;
          margin-top: px2rem(16);
        }
      }
    }
    .content{
      padding-top: px2rem(30);
      .content_item{
        width: px2rem(690);
        height: px2rem(1494);
        margin-top: px2rem(20);
        @for $i from 1 through 5{
          &.zh_CN_#{$i}{
            background: url("https://cdn.jsdelivr.net/gh/netcloth/official-website@v0.3.0/src/assets/install/#{$i}_zh_CN.png") center no-repeat;
            background-size: contain;
          }
        }
        @for $i from 1 through 5{
          &.en_US_#{$i}{
            background: url("https://cdn.jsdelivr.net/gh/netcloth/official-website@v0.3.0/src/assets/install/#{$i}_en_US.png") center no-repeat;
            background-size: contain;
          }
        }
      }
      p{
        font-weight: 400;
        font-size: px2rem(30);
        color: #6B798E;
        padding: px2rem(50) 0;
      }
    }
  }
}
