@import "../../styles/index";

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .top_box{
    width: 10rem;
    height: px2rem(1200);
    background: url("https://cdn.jsdelivr.net/gh/netcloth/official-website@v0.1.1/src/assets/homepage_h5_bg.png") no-repeat center;
    background-size: cover;
    // padding-top: px2rem(242);
    display: flex;
    align-items: center;
    justify-content: center;
    .icon{
      display: block;
      width: px2rem(134);
      height: px2rem(133);
      background: url("https://cdn.jsdelivr.net/gh/netcloth/official-website@v0.1.1/src/assets/logo.png") no-repeat center;
      background-size: contain;
      margin: auto;
    }
    .title{
      font-size: px2rem(56);
      font-weight: normal;
      color: rgba(255,255,255,1);
      text-align: center;
      margin-top: px2rem(42);
    }
    .tips{
      font-size: px2rem(30);
      font-weight:300;
      color:rgba(255,255,255,1);
      letter-spacing: px2rem(4);
      text-align: center;
      margin-top: px2rem(25);
      padding: 0 px2rem(20);
      line-height: px2rem(42);
    }
  }

  .place_holder {
    height: px2rem(120);
  }

  .download_box{
    position: fixed;
    bottom: 0;
    width: 10rem;
    height: px2rem(98);
    background: rgba(255,255,255,1);
    box-shadow:0 px2rem(-3) px2rem(12) 0 rgba(107,121,142,0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: px2rem(100);
    a{
      font-size: px2rem(32);
      font-weight: 500;
      color: #3860F4;
    }
  }
}
